body {
    background-color: #f0f0f0;
}

.swagger-ui .topbar {
    background-color: #4CAF50;
}

.swagger-ui .btn {
    background-color: #4CAF50;
    color: white;
}
.swagger-ui .info::before {
    content: '';
    display: block;
    background-image: url('/images/agrocare.jpg'); /* Caminho da imagem */
    background-size: 100% auto; /* Estica a imagem horizontalmente */

  
    background-repeat: no-repeat;
    background-position: center;
    height: 250px; /* Altura da imagem, ajuste conforme necessário */
    margin-bottom: 20px; /* Espaço entre a imagem e o título */
}